.wrapper {
  position: relative;
  isolation: isolate;

  display: grid;
  grid-template-rows: 1fr 96px;
  overflow: hidden;
  z-index: 0;

  .main {
    margin-top: 96px;
    padding: 24px;
  }
}

@media only screen and (orientation: portrait) and (max-width: 600px) {
  .wrapper {
    .main {
      padding: 8px;
    }
  }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
  .wrapper {
    .main {
      margin-top: 0;
    }
  }
}