@import  "./assets/styles/core/reset.less";
@import "./assets/styles/core/variables.less";

// body {
//   font-family: "Share Tech Mono", monospace;
//   background-color: @color-black;
//   color: @color-white;
// }




html {
  // width: 100vw;
  // height: 100vh;
  // width:  -webkit-fill-available;
  // height: -webkit-fill-available;

    width: 100dvw;
    height: 100dvh;

  body {
    // width: 100vw;
    // height: 100vh;
    // width:  -webkit-fill-available;
    // height: -webkit-fill-available;

    width: 100dvw;
    height: 100dvh;

    font-family: "Share Tech Mono", monospace;
    background-color: @color-black;
    color: @color-white;


    .wrapper {
      // min-width: 100vw;
      // min-height: 100vh;
      // min-width:  -webkit-fill-available;
      // min-height: -webkit-fill-available;

      width: 100dvw;
      height: 100dvh;
    }
  }
}









@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
