@import  "./assets/styles/core/reset.less";
@import "./assets/styles/core/variables.less";

body {
  font-family: "Share Tech Mono", monospace;
  background-color: @color-black;
  color: @color-white;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}
