.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  &_title {
    margin-left: 24px;
    position: relative;
    top: -75px;
    z-index: 2;
  }

  &_semispheres {
    position: absolute;
    right: -556px;
    bottom: -464px;
    transform: scale(1.5);
  }
}
